.side--bar 
  .side--bar__user
    .top--items
      .top--items__name
        = current_user.name
      .top--items__icon
        = link_to edit_user_path(current_user.id) do
          = icon('fas', 'cog', class: 'cog')
        = link_to "#" do
          = icon('fas', 'edit', class: 'edit')
  
  .side--bar__group--list
    .side--bar__group--list__name
      グループ
    .side--bar__group--list__message
      message