.side--bar 
  .side--bar__user
    .top--items
      .top--items__name
        = current_user.name
      .top--items__icon
        = link_to edit_user_path(current_user.id) do
          = icon('fas', 'cog', class: 'cog')
        = link_to new_group_path do
          = icon('fas', 'edit', class: 'edit')

  .side--bar__group--list
    -# - if @groups.present?
    - current_user.groups.each do |group|
      .side--bar__group--list__name
        = link_to group_messages_path(group) do
          = group.name
      .side--bar__group--list__message
        = link_to group_messages_path(group) do
          = group.id